.logo {
  margin-top: 7px;
  height: 48px;
  width: 200px;
  object-fit: contain;
}

@media (max-width: 1160px) {
  .logo {
    margin-top: 7px;
    height: 40px;
    width: 150px;
  }
}

@media (max-width: 850px) {
  .logo {
    margin-top: 7px;
    height: 40px;
    width: 120px;
  }
}
