.popular-section {
  text-align: center;
  margin: auto;
  width: 90%;
  position: relative;
}

.services-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* text-align: center; */

.popular-section h3 {
  margin-bottom: 20px;
  color: #800000;
  text-align: left;
}
.inner-wrapper img {
  width: 160px;
  height: 180px;
  border-radius: 5px;
  object-fit: cover;
  z-index: 0;
  box-shadow: -4px 11px 31px -26px #800000;
}

.inner-wrapper p {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 2px;
  color: #800000;
  filter: blur(0px);
  width: 160px;
  height: 40px;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.7);
}

/* Mobile Popular services styling */

@media (max-width: 1100px) {
  .inner-wrapper img {
    width: 140px;
    height: 160px;
  }

  .inner-wrapper p {
    width: 140px;
  }
}

@media (max-width: 980px) {
  .inner-wrapper img {
    width: 120px;
    height: 130px;
  }
  .inner-wrapper p {
    width: 120px;
  }
}

@media (max-width: 840px) {
  .inner-wrapper img {
    width: 98px;
    height: 120px;
  }
  .inner-wrapper p {
    width: 98px;
    font-size: small;
  }
}

@media (max-width: 680px) {
  .popular-section {
    text-align: center;
    margin: auto;
    width: 90%;
  }
  .services-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10px;
  }
  .popular-section h3 {
    text-align: center;
  }

  .inner-wrapper img {
    width: 150px;
    height: 170px;
    margin-bottom: 5px;
  }

  .inner-wrapper p {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .services-wrapper {
    display: block;
  }

  .inner-wrapper img {
    width: 190px;
    height: 210px;
    margin-bottom: 5px;
  }
}
