footer {
  background-color: #541616;
}

.footer-wrapper {
  background-color: #541616;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 60px;
}

.footer-inner-flex {
  margin-top: 15px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-inner-flex ul {
  list-style: none;
  line-height: 30px;
  font-size: x-small;
}

.footer-inner-flex ul li a {
  color: #d58b8b;
}

.footer-copyright {
  text-align: center;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.footer-copyright p {
  padding: 0px 2px;
  font-size: small;
  color: #F7FAFC;
}

/* Footer Mobile styling*/

@media (max-width: 680px) {
  .footer-wrapper {
    display: block;
  }

  .footer-inner-flex {
    display: block;
  }
  .footer-inner-flex ul {
    margin-bottom: 15px;
  }

  .footer-copyright {
    display: block;
    padding: 15px 0px;
  }
}
