img {
  width: 100%;
}

.forget-password-container {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1em 0;
}

.forget-password-heading {
  text-align: center;
}

.forget-password-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1em 0;
}

.forget-password-image {
  background-color: #fff;
  height: 100px;
  width: 25%;
}

.forget-password-input-container {
  position: relative;
}

/* forget password account starts */
.forget-password-icon {
  position: absolute;
  top: 25%;
  left: 5%;
  color: #a0aec0;
  padding: 0.5em;
}

.forget-password-account {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forget-password-signin,
.forget-password-signup {
  background: none;
  border: none;
  margin: 1em;
  color: #800000;
  font-weight: 600;
  cursor: pointer;
}

.forget-password-signin:hover,
.forget-password-signup:hover {
  opacity: 0.85;
}
/* forget password account ends */

/* sign in divider */
.forget-password-divider {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.forget-password-divider-line {
  flex: 1;
  border-bottom: 0.5px solid #e5e3e3;
}

.forget-password-divider-text {
  font-size: 1.1rem;
  text-align: center;
  color: #434846;
  font-weight: 600;
  padding: 0.2em;
}
/* sign in divider ends */

/* Hide Label */
.hidden-label {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* forget password button starts */
.forget-password-button {
  display: block;
  margin: 1rem 0;
  padding: 0.8rem 0rem;
  background: #1cce7c;
  color: #f7fafc;
  border: 1px solid #1cce7c;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.forget-password-button:hover {
  opacity: 0.9;
}

.forget-password-button:disabled {
  opacity: 0.35;
}
/* forget password button ends */
